<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지 :: 통합 데이터 포털</title>

    <th:block th:replace="fragments/head :: head"/>
</head>
<body>
<!--헤더부분-->
<div th:replace="fragments/header.html :: fragment-header (user=${user})"></div>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-12 col-lg-6 mx-auto">

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row text-secondary">
                            <div class="col-12 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" th:value="${user.getNickname()}" readonly>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    <input type="text" class="form-control" th:value="${user.getEmail()}" readonly>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="현재 비밀번호">
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="변경 비밀번호">
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="변경 비밀번호 재입력">
                                </div>
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="button">수정</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>