<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data-Hub 회원가입</title>

    <th:block th:replace="fragments/head :: head"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const result = /*[[${result}]]*/;
        if (result)
            alert(result);
        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <div class="row" style="height: 100vh">
        <div class="col-12 align-self-center">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto login_bottom">
                    <div class="mt-2 logo_div mb-5">
                        <a href="/">
                            <div class="mx-auto" id="logo" style="width: 230px; height: 55px; cursor: pointer;">
                            </div>
                        </a>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="이메일" name="email">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="닉네임" name="nickname">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="비밀번호" name="firstPassword">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="비밀번호 확인" name="secondPassword">
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="button" class="btn text-white bg-primary fw-bold" id="btn-login"
                                onclick="validate();">REGISTER
                        </button>
                    </div>
                    <hr>
                    <div class="d-grid justify-content-center mb-5">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">아이디 찾기</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">비밀번호 찾기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="//cdn.dataportal.kr/asset/js/leon.js"></script>
<script src="//cdn.dataportal.kr/asset/js/util.js"></script>
<script>
    window.onload = () => {
        init();
    };
</script>
</body>
</html>
