<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="fragment-header (user)" class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="mt-2">
                <a href="/">
                    <div id="logo" style="width: 230px; height: 55px; cursor: pointer;">
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent align-self-center">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mb-0" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            API
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/api}">API 목록</a></li>
                            <li><a class="dropdown-item" th:href="@{/api/new}">API 생성</a></li>
                            <li><a class="dropdown-item" th:href="@{/api/manage}">API 관리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mb-0" href="#" id="navbarDropdown2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            데이터셋
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/}">데이터 목록</a></li>
                            <li><a class="dropdown-item" th:href="@{/}">데이터 등록 및 관리</a></li>
                            <li><a class="dropdown-item" th:href="@{/}">데이터 요청</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0" th:href="@{/datahub}">데이터허브</a>
                    </li>
                </ul>
                <ul th:if="${user == null}" class="navbar-nav ms-3 ms-lg-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user}"><i class="fas fa-sign-in-alt me-1"></i>로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/new}"><i class="fas fa-user-plus me-1"></i>회원가입</a>
                    </li>
                </ul>
                <ul th:unless="${user == null}" class="navbar-nav ms-3 ms-lg-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/info}"><i class="fas fa-user-circle me-1"></i>마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/logout}"><i class="fas fa-sign-out-alt me-1"></i>로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="//cdn.dataportal.kr/asset/js/leon.js"></script>
    <script src="//cdn.dataportal.kr/asset/js/util.js"></script>
    <script>
        init();
    </script>
</header>
</html>
