<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<header th:fragment="fragment-header">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="login.html">사이트맵</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html">로그인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="register.html">회원가입</a>
        </li>
    </ul>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         style="background-color: white!important; padding-top: 0;;">
        <div class="container-fluid">
            <a href="/">
                <div id="logo" style="width: 270px; height: 55px; background-color: white; cursor: pointer;">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            API
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/api">API 목록 및 조회</a></li>
                            <li><a class="dropdown-item" href="#">API 생성</a></li>
                            <li><a class="dropdown-item" href="#">API 관리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            데이터셋
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">데이터 목록 및 조회</a></li>
                            <li><a class="dropdown-item" href="#">데이터 등록 및 관리</a></li>
                            <li><a class="dropdown-item" href="#">데이터 요청</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">데이터허브</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="//cdn.dataportal.kr/asset/js/leon.js"></script>
    <script src="//cdn.dataportal.kr/asset/js/util.js"></script>
    <script>
        let leon, controll;

        function init() {
            generateCanvas();

            controll = {
                color: {},
                roundCap: true,
                multiply: true,

                drawing: () => {
                    let i, total = leon.drawing.length;
                    for (i = 0; i < total; i++) {
                        TweenMax.killTweensOf(leon.drawing[i]);
                        TweenMax.fromTo(leon.drawing[i], 2, {
                            value: 0
                        }, {
                            value: 1,
                            ease: Cubic.easeOut
                        });
                    }
                }

            };


            leon = new LeonSans({
                text: 'DataPortal',
                color: ['#000000'],
                size: 53,
                weight: 818,


            });


            requestAnimationFrame(animate);
            controll.drawing(0);

        }


        function animate(t) {
            requestAnimationFrame(animate);

            ctx.clearRect(0, 0, sw, sh);

            const x = (sw - leon.rect.w) / 2;
            const y = (sh - leon.rect.h) / 2;
            leon.position(x, y);

            leon.drawColorful(ctx);
        }

        window.onload = () => {
            init();
        };
    </script>
</header>
</body>
</html>
