<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>데이터 시각화 :: 통합 데이터 포털</title>

    <th:block th:replace="fragments/head :: head"/>
    <!--    chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script th:src="@{/js/type.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = () => {
            document.getElementById('dashboard-content').innerHTML =
                marked(/*[[${user.dashboardContent}]]*/);
        };
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header (user=${user})"></div>
<div class="container">
    <div class="row">
        <div class="d-flex align-items-end flex-column mb-2 pe-0">
            <a th:href="@{/dashboard/write}" class="btn btn-primary">편집</a>
        </div>
        <div class="col-12 border rounded-3 p-3">
            <div id="dashboard-content">

            </div>
        </div>
    </div>
</div>
</body>
</html>