
body {
    height: 100vh;
}


.container {
    margin: 0 auto;
}

.header_link {
    color: white;
}

#menu_ul > li {
    float: left;
    list-style-type: none;
    padding: 30px;
    font-weight: bold;
}

.dropdown:hover {
    background-color: red;
}

.nav-item:hover {
    background-color: red;
}

#main {
    max-width: 992px;
    margin: 0 auto;
    background-color: white;
}

/*.flex-nowrap {*/
/*    padding-top: 50px;*/
/*    margin: 0 auto;*/
/*}*/



.form-control {
    font-size: 1.5rem;
}

/*이어붙이기(hj)*/
.footer-category {
    text-align: center;
    /*float: left;*/
    padding: 1rem;
}

.footer-category i:hover {
    color: cornflowerblue;
}

.footer-category a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.txt {
    margin-top: 1rem;
}


