<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>통합 데이터 포털</title>
    <th:block th:replace="fragments/head :: head"/>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header (user=${user})"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요" aria-label="Username"
                       aria-describedby="addon-wrapping">
                <button type="button" class="btn btn-primary"><i class="fas fa-search fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
