<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data-Hub</title>
    <th:block th:replace="fragments/head :: head"/>
    <!--    CSS Link-->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="검색할 데이터 입력!" aria-label="Username"
                       aria-describedby="addon-wrapping">
                <button type="button" class="btn btn-primary"><i class="fas fa-search fa-2x"></i></button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-11 col-md-9 col-lg-7 mx-auto d-flex flex-wrap justify-content-center">
            <div class="footer-category">
                <a href="#">
                    <i class="fas fa-school fa-3x"></i>
                    <div class="txt">교육</div>
                </a>
            </div>
            <div class="footer-category">
                <a href="#">
                    <i class="fas fa-industry fa-3x"></i>
                    <div class="txt">경제/산업</div>
                </a>
            </div>
            <div class="footer-category">
                <a href="#">
                    <i class="fas fa-hands-helping fa-3x"></i>
                    <div class="txt">사회복지</div>
                </a>
            </div>
            <div class="footer-category">
                <a href="#">
                    <i class="fas fa-medkit fa-3x"></i>
                    <div class="txt">보건</div>
                </a>
            </div>
            <div class="footer-category">
                <a href="#">
                    <i class="fas fa-plane-departure fa-3x"></i>
                    <div class="txt">문화/관광</div>
                </a>
            </div>
            <div class="footer-category" id="footer-category-n6">
                <a href="#">
                    <i class="fas fa-city fa-3x"></i>
                    <div class="txt">도시관리</div>
                </a>
            </div>
            <div class="footer-category" id="footer-category-n7">
                <a href="#">
                    <i class="fas fa-car-side fa-3x"></i>
                    <div class="txt">교통</div>
                </a>
            </div>
            <div class="footer-category" id="footer-category-n8">
                <a href="#">
                    <i class="fas fa-leaf fa-3x"></i>
                    <div class="txt">환경</div>
                </a>
            </div>
            <div class="footer-category" id="footer-category-n9">
                <a href="#">
                    <i class="fas fa-flask fa-3x"></i>
                    <div class="txt">과학기술</div>
                </a>
            </div>
            <div class="footer-category" id="footer-category-n10">
                <a href="#">
                    <i class="fas fa-gavel fa-3x"></i>
                    <div class="txt">법률</div>
                </a>
            </div>
        </div>
        <!--            두번째줄-->
    </div>
</div>
</body>
</html>
